.InformationOverlayDivContainer {
  min-width: 300px;
  max-width: 80%;
  height: 50px;
  background-color: rgb(124, 124, 124);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 3px;
  span {
    padding: 0 10px 0 10px;
  }
}
