$svg-onWhite: rgba(27, 80, 124, 0.651);

.editMinimal {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-120%) translateX(-200%);
  height: 20px;
  width: 20px;
  svg {
    height: 100%;
    width: 100%;
    * {
      stroke: $svg-onWhite;
    }
  }
  &:hover {
    transform: translateY(-120%) translateX(-200%) scale(1.07);
    svg {
      * {
        stroke: darken($svg-onWhite, 50%);
      }
    }
  }
}
