.Container {
  width: 320px;
  height: 220px;
  background-color: #ffffff;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.38);
  border-radius: 21px;
  margin: 24px 0 0 24px;
  display: flex;
  flex-direction: column;
}
.HeaderContainer {
  width: 100%;
  height: 55%;
  min-height: 55%;
  border-radius: 21px 21px 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  transition: min-height 0.1s ease-out;
  padding-top: 7%;
  box-sizing: border-box;
}
.HeaderContainer:hover {
  min-height: 65%;
  background: linear-gradient(180deg, #cbe6ff 0%, rgba(255, 255, 255, 0) 60%);
  cursor: pointer;
}

.TitleDiv {
  padding: 0 0% 0 4%;
  box-sizing: border-box;
  max-width: 30%;
  margin-left: 8px;
}

.TitleDiv > p {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.TextDiv > p {
  margin: 0;
}

.TextDiv {
  padding: 0 5% 0 1.5%;
  box-sizing: border-box;
  max-width: 90%;
  overflow-y: auto;
  width: 100%;
  text-align: center;
}

.HeaderContainer:before {
  content: "";
  border-radius: 21px 21px 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 71.67%,
    #ffffff 100%
  );
  pointer-events: none;
}
.BodyContainer {
  border-radius: 0 0 21px 21px;
  width: 100%;
  height: 45%;
  position: relative;
  background: linear-gradient(
    360deg,
    #160404 0%,
    rgba(206, 203, 203, 0.45) 0.01%,
    rgba(202, 199, 199, 0.48) 100%
  );
  border: 5px solid #ffffff;
  box-sizing: border-box;
  overflow: hidden;
}

.QuestionBoxTagsContainer {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5px;
  height: 97%;
}

.TagsContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: auto;
  align-content: flex-start;
}

.TagsTitle {
  font-weight: 500;
  margin-top: 10px;
  margin-left: 5px;
  display: block;
  height: 100%;
}

.CustomTag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 30px;
  background: #edfbff;
  border: 1px solid #112d3d;
  border-radius: 30px;
  box-sizing: border-box;
  margin: 5px 0 0 5px;
}

.CustomTag {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.TagsContainer::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
}

.TagsContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #d8c5c5;
  margin-top: -3px;
  margin-bottom: 8px;
}

.TagsContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(185, 218, 255);
}

.TextDiv::-webkit-scrollbar {
  width: 20px;
  background-color: rgba(255, 255, 255, 0);
  margin-right: 5px;
}

.TextDiv::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #d8c5c5;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.TextDiv::-webkit-scrollbar-thumb {
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(185, 218, 255);
  border-radius: 10px;
}

.qb_addButtonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.qb_addButtonContainer:hover {
  background: linear-gradient(180deg, #cbe6ff 0%, rgba(255, 255, 255, 0) 60%);
  cursor: pointer;
}

.qb_addButtonTitle {
  height: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}
.qb_addButton {
  position: absolute;
  height: auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qb_deleteContainer {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 0;
  right: 0;
  svg {
    width: 100%;
    height: 100%;
  }
  &:hover {
    transform: scale(1.05);
  }
}
