$singleQuestionHeight: (100%/6);
@mixin buttonFix {
  button {
    width: inherit;
    height: inherit;
    span {
      padding: 0;
    }
  }
}
@mixin roundedBorderPseudoElement($lVal, $rVal) {
  content: "";
  position: fixed;
  float: left;
  width: 3px;
  top: 0px;
  @if $lVal >= 0 {
    left: $lVal;
  }
  @if $rVal >= 0 {
    right: $rVal;
  }
  background-color: rgb(187, 174, 174);
  height: 100%;
  border-radius: 7px;
}

@mixin removeScrollbar {
  &::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
}
.EditQuizContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
  span {
    padding: 15px 10px 0 20px;
    font-size: 25px;
  }
}
.qc_textField {
  margin: 20px auto 0 auto;
  height: fit-content;
}
#qc_titleInput {
  width: 300px;
  font-size: 21px;
}
.qc_submitButton {
  width: 130px;
  height: 50px;
  @include buttonFix;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.qc_editQuestionDiv {
  @include buttonFix();
  margin-top: 10px;
  height: 50px;
}

.qc_info {
  height: 40px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  span {
    margin: 0 auto 0 auto;
    font-size: 19px;
  }
}

.qc_QuestionList {
  margin-top: 20px;
  width: 68%;
  height: 200px;
  overflow-x: visible;
  overflow-y: auto;
  border-left: 3px solid rgb(168, 154, 154);
  border-right: 3px solid rgb(168, 154, 154);
  //border-radius: 2px;
  background-color: rgb(235, 223, 223);
  position: relative;
  @include removeScrollbar();

  .qc_singleQuestion {
    box-sizing: border-box;
    height: ($singleQuestionHeight);
    width: 97%;
    margin: 0 auto 0 auto;
    background-color: #f4f4ff;
    border-bottom: 1px solid rgb(35, 30, 65);
    &:first-child {
      border-top: 1px solid rgb(35, 30, 65);
    }
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    span {
      width: 90%;
      overflow: hidden;
      font-size: 15px;
      font-weight: 100;
      white-space: nowrap;
      padding: 0;
      margin: 0 0 0 10px;
    }

    .qc_singleQuestionTrash {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      height: 70%;
      width: auto;
      transition: transform 0.2s linear;
      cursor: pointer;

      svg {
        height: 100%;
        width: auto;
        * {
          fill: rgb(100, 97, 97);
        }
      }
      &:hover {
        transform: translateY(-50%) scale(1.03);
        * {
          fill: rgb(70, 67, 67);
        }
      }
    }
  }
}

.qc_emptyQuestionList {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    padding: 0;
    font-size: 16px;
    color: rgb(94, 92, 92);
  }
}

//Dragging styling

.draggable {
  cursor: move;
}

.draggable.dragging {
  background-color: rgb(234, 234, 255);
}
