@import "../../globalVars.scss";
$baseWidth: 200px;
$baseHeight: 350px;
$singleQuestionMargin: 3%;
$itemsPerRow: 4;
$itemsPerColumn: 5;

@function getWidth($numItems) {
  $res: ((100% - (($numItems + 1) * $singleQuestionMargin)) / $numItems);
  @return $res;
}
@function getHeight($numItemsHeight) {
  $resH: (
    (100% - (($numItemsHeight + 1) * $singleQuestionMargin)) / $numItemsHeight
  );
  @return $resH;
}
.qso_container {
  height: $baseHeight;
  width: $baseWidth;
  display: flex;
  border-radius: 2%;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #e7e2e2;
  align-content: flex-start;
  overflow: auto;
  border: 2px solid rgb(175, 167, 167);
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  //hidden by default on screen smaller 950px
  @media only screen and (max-width: 950px) {
    display: none;
  }
}
//is shown when class showOnMobile is added
.showOnMobile {
  @media only screen and (max-width: 950px) {
    display: flex;
  }
}

.qso_singleQuestionContainer {
  box-sizing: border-box;
  width: getWidth($itemsPerRow);
  height: getHeight($itemsPerColumn);
  background-color: $colorPrimaryLight;
  margin-left: $singleQuestionMargin;
  margin-top: $singleQuestionMargin;
  border-radius: 10%;
  box-shadow: 0 1px 0 0.5px rgba(58, 161, 245, 0.6);
  &.completed {
    background-color: #268742;
  }
  :hover {
    cursor: pointer;
  }
}

.qso_questionNumber {
  width: 100%;
  height: 65%;
  background-color: $colorPrimaryDark;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-size: 1.4rem;
  }
}
