.pgs_pgsContainer {
  height: 50px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;

  display: flex;
  flex-wrap: nowrap;
  .pgs_singlePageContainer {
    margin-left: 5px;
  }
  :first-child {
    margin-left: 0;
  }
}

.pgs_singlePageContainer {
  height: 100%;
  width: 38px;
  border: 3px solid #314978;
  background-color: #314978;
  color: #dde1ff;
  font-size: 15px;
  font-weight: 300;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.28);
  cursor: pointer;
  &.currentlySelected {
    border: 3px solid #536a97;
  }
}
