.ScreenOverlayBottom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 2001;
  overflow: auto;
  pointer-events: none;
}

.ScreenOverlayCenter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2001;
  overflow: auto;
  pointer-events: none;
}

.dialogue_container {
  border: 8px solid #1c1c1c;
  width: 400px;
  height: 170px;
  background-color: rgb(38, 38, 38);
  color: rgb(180, 180, 180);
  font-size: 120%;
  z-index: 2001;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.textDiv p {
  font-weight: 300;
  font-size: 25px;
  line-height: 39px;
  letter-spacing: 0.04em;
  flex-wrap: wrap;
  text-align: center;
}
.textDiv {
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonDiv {
  width: 75%;
  height: 40%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

#dialogue_button {
  width: 135px;
  height: 45px;
  background: #1b1b1d;
  border: 2px solid #bfb4b4;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
#dialogue_button:hover {
  background: #2b2b35;
}
#dialogue_button_red {
  width: 135px;
  height: 45px;
  background: #711414;
  border: 2px solid #561111;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
#dialogue_button_red:hover {
  background: #990000;
}
.buttonDiv p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 0.05em;
  color: rgba(230, 230, 230, 0.74);
}
